<div class="container  mb-5"> 
<style>dt { text-align: right !important } dd { text-align: left !important }</style>
    <h1>Chemical info</h1>
    <% if Colin::Models::Container.unscoped.where(barcode: params[:barcode]).exists?
        container = Colin::Models::Container.unscoped.where(barcode: params[:barcode]).take   
    else %>
        <div class="alert alert-danger w-50" role="alert">
            Container with barcode <%= params[:barcode] %> not found.
        </div>
    <%end%>

    <% if container.date_disposed? %>
    <div class="alert alert-warning w-50" role="alert">
        Container was deleted <%= container.date_disposed.strftime("%a %d/%m/%Y at %I:%M %p") %>.
        <input hidden name="barcode" value="<%=container.barcode%>">
        <a class="btn btn-outline-dark btn-lg btn-block my-3" role="button" id="undelete">Undo</a>
    </div>
    <% end %>

    <dl class="row mt-5"> 
        <dt class="col-md-2">CAS:</dt>
        <dd class="col-md-2"><%= container.chemical[0].cas %></dd>
        <dt class="col-md-2">Name:</dt>
        <dd class="col-md-6 text-truncate"><%= container.chemical[0].prefix.to_s + container.chemical[0].name %></dd>
        <dt class="col-md-2">Barcode:</dt>
        <dd class="col-md-2"><%= container.barcode %></dd>
        <dt class="col-md-2">Location: </dt>
        <dd class="col-md-6 text-truncate">
        <%= container.current_location.location.location_path %>
        </dd>

        <hr class="w-100"/>

        <dt class="col-md-2">Supplier:</dt>
        <dd class="col-md-4"><%= if !container.supplier.nil? 
        container.supplier.name end %></dd>
        <dt class="col-md-2">Product number:</dt>
        <dd class="col-md-4"><%= if !container.product_number.nil? 
        container.product_number end %></dd>
        <dt class="col-md-2">Lot number:</dt>
        <dd class="col-md-4"><%= if !container.lot_number.nil? 
        container.lot_number end %></dd>
        <dt class="col-md-2">Quantity:</dt>
        <dd class="col-md-4"><%= if !container.container_size.nil? && !container.size_unit.nil? 
        container.container_size.to_s + ' ' + container.size_unit end %></dd>
        <dt class="col-md-2">Owner:</dt>
        <dd class="col-md-4"><%= if !container.owner.nil? 
        container.owner.name end %></dd>
        <dt class="col-md-2">Last modified by:</dt>
        <dd class="col-md-4"><%= if !container.user.nil? 
        container.user.name end %></dd>
        <hr class="w-100"/>

        <dt class="col-md-2 mb-3">InChI:</dt>
        <dd class="col-md-4"><%= if !container.chemical[0].inchi.nil? 
        container.chemical[0].inchi end %></dd>
        <dt class="col-md-2 mb-3">SMILES:</dt>
        <dd class="col-md-4"><%= if !container.chemical[0].smiles.nil? 
        container.chemical[0].smiles end %></dd>
        <dt class="col-md-2 mb-3">PubChem ID:</dt>
        <dd class="col-md-4"><%= if !container.chemical[0].pubchem.nil? 
        container.chemical[0].pubchem end %></dd>
        <dt class="col-md-2 mb-3">Density:</dt>
        <dd class="col-md-4"><%= if !container.chemical[0].density.nil? 
        container.chemical[0].density.to_s + ' g/mL' end %></dd>
        <dt class="col-md-2 mb-3">Melting point:</dt>
        <dd class="col-md-4"><%= if !container.chemical[0].melting_point.nil? 
        container.chemical[0].melting_point.to_s + ' &#8451;' end %></dd>
        <dt class="col-md-2 mb-3">Boiling point:</dt>
        <dd class="col-md-4"><%= if !container.chemical[0].boiling_point.nil? 
        container.chemical[0].boiling_point.to_s + ' &#8451;' end %></dd>
        <hr class="w-100"/>

        <dt class="col-md-2 mb-3">Hazard classification:</dt>
        <dd class="col-md-10">
            <dl class="row">
                <% if !container.chemical[0].haz_class.nil? 
                container.chemical[0].haz_class.each do |haz_class|%>
                <dd class="col-md-12"><%= haz_class.superclass.description %> (<%= haz_class.description %>)</dd>
                <%end 
                end%>
            </dl>
        </dd>
        <dt class="col-md-2 mb-3">Hazard statements:</dt>
        <dd class="col-md-10">
            <dl class="row">
                <% if !container.chemical[0].haz_stat.nil? 
                container.chemical[0].haz_stat.each do |haz_stat|%>
                <dt class="col-md-2"><%= haz_stat.code %></dt>
                <dd class="col-md-10"><%= haz_stat.description %></dd>
                <%end 
                end%>
            </dl>
        </dd>
        <dt class="col-md-2 mb-3">Precaution statements:</dt>
        <dd class="col-md-10">
            <dl class="row">
                <% if !container.chemical[0].prec_stat.nil? 
                container.chemical[0].prec_stat.each do |prec_stat|%>
                <dt class="col-md-2"><%= prec_stat.code %></dt>
                <dd class="col-md-10"><%= prec_stat.description %></dd>
                <%end 
                end%>
            </dl>
        </dd>

        <dt class="col-md-2 mb-3">Pictogram:</dt>
        <dd class="col-md-4">
            <% if !container.chemical[0].pictogram.nil? 
                container.chemical[0].pictogram.each do |pictogram|%>
                <img class='img-fluid' style='width:50px;height:50px;' src='/api/pictogram/image/id/<%= pictogram.id %>'>
                <%end 
                end%>
        </dd>
        <dt class="col-md-2 mb-3">Signal word:</dt>
        <dd class="col-md-4">
            <dl class="row">
                <% if !container.chemical[0].signal_word.nil? %>
                <dd class="col-md-12"><%= container.chemical[0].signal_word.name %></dd>
                <%end%>
            </dl>
        </dd>


        <hr class="w-100"/>

        <dt class="col-md-2">UN number:</dt>
        <dd class="col-md-2"><%= if !container.chemical[0].un_number.nil? 
        container.chemical[0].un_number.to_s end %></dd>
        <dt class="col-md-2">UN proper shipping name:</dt>
        <dd class="col-md-6"><%= if !container.chemical[0].un_proper_shipping_name.nil? 
        container.chemical[0].un_proper_shipping_name.to_s end %></dd>
        <dt class="col-md-2">Transport class:</dt>
        <dd class="col-md-2">
        <%= if !container.chemical[0].dg_class_1.nil? && container.chemical[0].dg_class_2.nil? && container.chemical[0].dg_class_3.nil?
        container.chemical[0].dg_class_1.number.to_s 
        elsif !container.chemical[0].dg_class_1.nil? && !container.chemical[0].dg_class_2.nil? && container.chemical[0].dg_class_3.nil?
        container.chemical[0].dg_class_1.number.to_s + ' (' + container.chemical[0].dg_class_2.number.to_s + ')'
        elsif !container.chemical[0].dg_class_1.nil? && !container.chemical[0].dg_class_2.nil? && !container.chemical[0].dg_class_3.nil?
        container.chemical[0].dg_class_1.number.to_s + ' (' + container.chemical[0].dg_class_2.number.to_s + ', ' + container.chemical[0].dg_class_3.number.to_s + ')'
        end %> 
       </dd>
        <dt class="col-md-2">Packing group:</dt>
        <dd class="col-md-2"><%= if !container.chemical[0].packing_group.nil? 
        container.chemical[0].packing_group.name.to_s end %></dd>
        <dt class="col-md-2">Schedule:</dt>
        <dd class="col-md-2"><%= if !container.chemical[0].schedule.nil? 
        container.chemical[0].schedule.number.to_s end %></dd>
    </dl>
    <% if !container.date_disposed? %>
    <a class="btn btn-primary btn-lg btn-block" role="button" href="/container/edit/barcode/<%= container.barcode %>">Edit</a>
    <% end %>
</div>

<script>
$(document).ready(function () {
  $("#undelete").click(function () {
    $.ajax({
      type: "POST",
      url: "/api/container/barcode/" + $("[name=barcode]").val(),
      dataType: "json",
      success: function () {window.location.href = "/";}
    });
  });
});
</script>