<div class=""> 
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Barcode</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Location</th>
    </tr>
    </thead>
    <tbody>
    <% @pagy, @containers = pagy(Colin::Models::Container.joins('LEFT JOIN container_locations i ON i.container_id = containers.id AND i.id = (SELECT MAX(id) FROM container_locations WHERE container_locations.container_id = i.container_id) INNER JOIN chemicals ON containers.chemical_id = chemicals.id').where("CONCAT(chemicals.prefix, chemicals.name) ILIKE :query OR barcode LIKE :query OR chemicals.cas LIKE :query", { query: "%"+params[:query]+"%"}), items: params[:items])%>
    <% @containers.each do |container| %>
    <tr>
        <td><%= container.barcode %></td>
        <td><a href="/container/barcode/<%= container.barcode %>"><%= container.chemical.prefix %><%= container.chemical.name %></a></td>
        <td><%= container.container_size %> <%= container.size_unit %></td>
        <td><%= container.current_location.location.parent.name + ' / ' if container.current_location.location.has_parent? %><%= container.current_location.location.name %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
    
    <div class="container">
        <div class="">
            <%= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
        <!--<div class="dropdown w-25">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Items per page
            </button>
            <div class="dropdown-menu ml-1" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="?limit">20</a>
                <a class="dropdown-item" href="#">50</a>
                <a class="dropdown-item" href="#">100</a>
                <a class="dropdown-item" href="#">All</a>
            </div>
        </div>-->
    </div>
</div>