<div class=""> 
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Barcode</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Location</th>
    </tr>
    </thead>
    <tbody>
    <% search_containers(params[:query]).each do |container| %>
    <tr>
        <td><%= container.barcode %></td>
        <td><a href="/container/barcode/<%= container.barcode %>"><%= container.chemical.name %></a></td>
        <td><%= container.container_size %> <%= container.size_unit %></td>
        <td><%= if container.current_location.location.has_parent?
            container.current_location.location.parent.name + ' / '
            end%>
        <%= container.current_location.location.name %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
</div>