<div class="jumbotron w-50" > 
<h1>Edit location</h1>
<% location = Colin::Models::Location.active.find(params[:location_id]) %>
    <input hidden type="text" name="location_id" id="location_id" value="<%= params[:location_id] %>"/>
    <input hidden type="text" name="old_parent_id" id="old_parent_id" value="<%= location.parent&.id %>"/>
    <input hidden type="text" name="old_location_type_id" id="old_location_type_id" value="<%=location.location_type_id %>"/>
    <div class="form-group">
        <label for="parent_id">Parent location</label>
        <select class="form-control selectpicker" id="location_list" name="parent_id" title="Parent Location" data-live-search="true">      
        </select>
    </div>
    <div class="form-group">
    <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" value="<%= location.name %>" class="form-control"/>
    </div>
    <div class="form-group">
    <label for="barcode">Barcode</label>
      <input type="text" name="barcode" placeholder="Barcode" value="<%= location.barcode %>" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="location_type_id">Location type</label>
        <select class="form-control selectpicker" id="location_type_id" name="location_type_id" title="Location Type">   
      </select>
    </div>

    <div class="form-group">
        <label for="temperature">Temperature</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control w-75" name="temperature" value="<%= location.temperature %>" placeholder="Temperature">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">&#8451;</span>
            </div>
        </div>
    </div>

    <!--<div class="form-group">
    <input class="form-check-input" type="checkbox" value="true" name ="monitored" id="monitored">
    <label class="form-check-label" for="monitored">
      Monitored?
    </label>
    </div>-->
    <button class="btn btn-primary" id="update_location" >Update Location</button> 
    <button class="btn btn-secondary" id="cancel">Cancel</button>
    <button class="btn btn-danger" id="delete_location">Delete</button>

</div>

<!-- Modal -->
<div class="modal" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feedbackModalTitle"></h5>
        <a type="button" class="close" href="/location" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body" id="feedbackModalBody">
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" href="/location">Close</a>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
  PopulateLocationList("#location_list", $("#old_parent_id").val());
  PopulateLocationTypeList("#location_type_id", $("#old_location_type_id").val());
  $("#update_location").click(function () {
    $.ajax({
      type: "PUT",
      url: "/api/location/id/" + $("[name=location_id]").val(),
      data: {
        parent_id: $("[name='parent_id']").val(),
        name: $("[name='name']").val(),
        barcode: $("[name='barcode']").val(),
        location_type_id: $("[name='location_type_id']").val(),
        temperature: $("[name='temperature']").val(),
        monitored: $("[name='monitored']").prop("checked")
      },
      dataType: "json",
      success: function () {
        $('#feedbackModalTitle').html('Location updated');
        $('#feedbackModalBody').html('Location ' + $("[name='name']").val() + ' successfully updated.');
        $('#feedbackModal').modal();
      },
      error: function (xhr, status, error) {
        $('#feedbackModalTitle').html('Error');
        console.log(xhr);
        $('#feedbackModalBody').html(xhr['responseText']);
        $('#feedbackModal').modal();
      }
    });
  });
  $("#cancel").click(function () {window.location.href = "/location";});
  $("#delete_location").click(function () {
    $.ajax({
      type: "DELETE",
      url: "/api/location/id/" + $("[name=location_id]").val(),
      dataType: "json",
      success: function () {
        $('#feedbackModalTitle').html('Location deleted');
        $('#feedbackModalBody').html('Location ' + $("[name='name']").val() + ' successfully deleted.');
        $('#feedbackModal').modal();
      },
      error: function (xhr, status, error) {
        $('#feedbackModalTitle').html('Error');
        console.log(xhr);
        $('#feedbackModalBody').html(xhr['responseText']);
        $('#feedbackModal').modal();
      }
    });
  });
});
</script>