<div class=""> 
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Location Path</th>
        <th scope="col">Type</th>
        <th scope="col">Temperature</th>
    </tr>
    </thead>
    <tbody>
    <% @locations = Colin::Models::Location.active %>
    <% Colin::Models::Location.sort_by_ancestry(@locations).each do |location| %>
    <tr <%= 'class="font-weight-bold"' if ['Building', 'Room'].include?(location.location_type.name) %>>
        <td><a href="/location/edit/<%=location.id%>"><%= location.location_path %></a></td>
        <td><%= location.location_type.name %></td>
        <td><%= location.temperature %>&nbsp;&#8451;</td>
    </tr>
    <% end %>
    </tbody>
    </table>

    <div class="container">
        <div class="">
        </div>
    </div>
</div>