<div class="jumbotron w-50" > 

<% user = Colin::Models::User.where(username: params[:username]).take %>

<h1>Update User</h1>
  <input hidden type="text" name="username" id="username" value="<%= params[:username] %>"/>
  <div class="form-group">
    <label for="new_username">Username</label>
    <input type="text" name="new_username" id="new_username" placeholder="Username" class="form-control" value="<%= user.username %>"/>
  </div>
  <div class="form-group">
      <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" class="form-control" value="<%= user.name %>"/>
  </div>
  <div class="form-group"> 
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="Email" class="form-control" value="<%= user.email %>"/> 
  </div>
  <div class="form-group">
    <label for="supervisor_id">Supervisor</label>
    <select class="form-control selectpicker" id="supervisor_id" name="supervisor_id">
      <% Colin::Models::User.where(hidden: false).each do |auser| %>
        <option <%= "selected" if auser.id == user.supervisor.id %> value="<%= auser.id %>"><%= auser.name %></option>
      <% end %>  
    </select>
  </div>
  <div class="form-group">
    <label for="old_password">Old Password</label>
    <input type="password" name="old_password" id="old_password" placeholder="Old Password" class="form-control"/> 
  </div>
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" placeholder="Password" class="form-control"/> 
  </div>
  <div class="form-group">
    <label for="password_confirmation">Confirm New Password</label>
    <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Password Confirmation" class="form-control"/> 
  </div>

  <label class="form-label h3" for="permissions">Permissions</label>
  <div class="form-group" id="permissions">
    <label class="form-check-label h5" for="containers">Containers</label>
    <div class="form-group col-md-6" id="containers">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="can_create_container" name="can_create_container" value="true" <%= "checked" if user.can_create_container? %>>
        <label class="form-check-label" for="can_create_container">Create</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="can_edit_container" name="can_edit_container" value="true" <%= "checked" if user.can_edit_container? %>>
        <label class="form-check-label" for="can_edit_container">Edit</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-check-label h5" for="locations">Locations</label>
    <div class="form-group col-md-6" id="locations">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="can_create_location" name="can_create_location" value="true" <%= "checked" if user.can_create_location? %>>
        <label class="form-check-label" for="can_create_location">Create</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="can_edit_location" name="can_edit_location" value="true" <%= "checked" if user.can_edit_location? %>>
        <label class="form-check-label" for="can_edit_location">Edit</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-check-label h5" for="users">Users</label>
    <div class="form-group col-md-6" id="users">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="can_create_user" name="can_create_user" value="true" <%= "checked" if user.can_create_user? %>>
        <label class="form-check-label" for="can_create_user">Create</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="can_edit_user" name="can_edit_user" value="true" <%= "checked" if user.can_edit_user? %>>
        <label class="form-check-label" for="can_edit_user">Edit</label>
      </div>
    </div>
  </div>

  <button id="update_user" class="btn btn-primary">Update User</button> 
  <button class="btn btn-secondary" id="cancel">Cancel</button>

</div>

<script>
$(document).ready(function () {
  $("#update_user").click(function (e) {
    $.ajax({
      type: "PUT",
      url: "/api/user/username/" + $("[name='username']").val(),
      data: {
        username: $("[name='new_username']").val(),
        name: $("[name='name']").val(),
        email: $("[name='email']").val(),
        password: $("[name='password']").val(),
        password_confirmation: $("[name='password_confirmation']").val(),
        supervisor_id: $("[name='supervisor_id']").val(),
        can_create_container: $("[name='can_create_container']").prop("checked"),
        can_edit_container: $("[name='can_edit_container']").prop("checked"),
        can_create_location: $("[name='can_create_location']").prop("checked"),
        can_edit_location: $("[name='can_edit_location']").prop("checked"),
        can_create_user: $("[name='can_create_user']").prop("checked"),
        can_edit_user: $("[name='can_edit_user']").prop("checked")
      },
      dataType: "json",
      success: function () {window.location.href = "/";}
    });
    $("#cancel").click(function () {window.location.href = "/";});
  });
});
</script>