<div class="jumbotron w-50" > 

<% user = Colin::Models::User.where(username: params[:username]).take %>

<h1>Update User</h1>
  <input hidden type="text" name="username" id="username" value="<%= params[:username] %>"/>
  <input hidden type="text" name="old_supervisor_id" id="old_supervisor_id" value="<%= user.supervisor_id %>"/>
  <div class="form-group">
    <label for="new_username">Username</label>
    <input type="text" name="new_username" id="new_username" placeholder="Username" class="form-control" value="<%= user.username %>"/>
  </div>
  <div class="form-group">
      <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" class="form-control" value="<%= user.name %>"/>
  </div>
  <div class="form-group"> 
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="Email" class="form-control" value="<%= user.email %>"/> 
  </div>
  <div class="form-group">
    <label for="supervisor_id">Supervisor</label>
    <select class="form-control selectpicker" id="supervisor_id" name="supervisor_id">
    </select>
  </div>
  <div class="form-group">
    <label for="old_password">Old Password</label>
    <input type="password" name="old_password" id="old_password" placeholder="Old Password" class="form-control"/> 
  </div>
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" placeholder="Password" class="form-control"/> 
  </div>
  <div class="form-group">
    <label for="password_confirmation">Confirm New Password</label>
    <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Password Confirmation" class="form-control"/> 
  </div>
  <% if current_user.can_edit_user || current_user.username == 'root' %>
  <label class="form-label h3" for="permissions">Permissions</label>
  <div id="permissions">
    <div class="form-group">
      <label class="form-check-label h5" for="containers">Containers</label>
      <div class="form-group col-md-6" id="containers">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="can_create_container" name="can_create_container" value="true" <%= "checked" if user.can_create_container? %>>
          <label class="form-check-label" for="can_create_container">Create</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="can_edit_container" name="can_edit_container" value="true" <%= "checked" if user.can_edit_container? %>>
          <label class="form-check-label" for="can_edit_container">Edit</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label h5" for="locations">Locations</label>
      <div class="form-group col-md-6" id="locations">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="can_create_location" name="can_create_location" value="true" <%= "checked" if user.can_create_location? %>>
          <label class="form-check-label" for="can_create_location">Create</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="can_edit_location" name="can_edit_location" value="true" <%= "checked" if user.can_edit_location? %>>
          <label class="form-check-label" for="can_edit_location">Edit</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label h5" for="users">Users</label>
      <div class="form-group col-md-6" id="users">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="can_create_user" name="can_create_user" value="true" <%= "checked" if user.can_create_user? %>>
          <label class="form-check-label" for="can_create_user">Create</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="can_edit_user" name="can_edit_user" value="true" <%= "checked" if user.can_edit_user? %>>
          <label class="form-check-label" for="can_edit_user">Edit</label>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <button id="update_user" class="btn btn-primary">Update User</button>
  <button id="delete_user" class="btn btn-danger">Delete User</button> 
  <button class="btn btn-secondary" id="cancel">Cancel</button>

</div>

<!-- Modal -->
<div class="modal" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feedbackModalTitle"></h5>
        <a type="button" class="close" href="/user" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body" id="feedbackModalBody">
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" href="/user">Close</a>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function () {
  PopulateUserList('#supervisor_id', $("#old_supervisor_id").val())
  $("#update_user").click(function (e) {
    $.ajax({
      type: "PUT",
      url: "/api/user/username/" + $("[name='username']").val(),
      data: {
        new_username: $("[name='new_username']").val(),
        name: $("[name='name']").val(),
        email: $("[name='email']").val(),
        old_password: $("[name='old_password']").val(),
        password: $("[name='password']").val(),
        password_confirmation: $("[name='password_confirmation']").val(),
        supervisor_id: $("[name='supervisor_id']").val(),
        can_create_container: $("[name='can_create_container']").prop("checked"),
        can_edit_container: $("[name='can_edit_container']").prop("checked"),
        can_create_location: $("[name='can_create_location']").prop("checked"),
        can_edit_location: $("[name='can_edit_location']").prop("checked"),
        can_create_user: $("[name='can_create_user']").prop("checked"),
        can_edit_user: $("[name='can_edit_user']").prop("checked")
      },
      dataType: "json",
      success: function () {
        $('#feedbackModalTitle').html('User updated');
        $('#feedbackModalBody').html('User ' + $("[name='username']").val() + ' successfully updated.');
        $('#feedbackModal').modal();
        },
      error: function (xhr, status, error) {
        $('#feedbackModalTitle').html('Error');
        console.log(xhr);
        $('#feedbackModalBody').html(xhr['responseText']);
        $('#feedbackModal').modal();
      }
    });
  });
  $("#delete_user").click(function (e) {
    $.ajax({
      type: "DELETE",
      url: "/api/user/username/" + $("[name='username']").val(),
      data: {
      },
      dataType: "json",
      success: function () {
        $('#feedbackModalTitle').html('User deleted');
        $('#feedbackModalBody').html('User ' + $("[name='username']").val() + ' successfully deleted.');
        $('#feedbackModal').modal();
        },
      error: function (xhr, status, error) {
        $('#feedbackModalTitle').html('Error');
        console.log(xhr);
        $('#feedbackModalBody').html(xhr['responseText']);
        $('#feedbackModal').modal();
      }
    });
  });
  $("#cancel").click(function () {window.location.href = "/";});
});
</script>