<div class=""> 
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Supervisor</th>
    </tr>
    </thead>
    <tbody>
    <% @pagy, @users = pagy(Colin::Models::User.all) %>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.supervisor.name %></td>
    </tr>
    <% end %>
    </tbody>
    </table>

    <div class="container">
        <div class="">
            <%= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
    </div>
</div>